.displayPolls {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  list-style: none;
}

.displayPolls-poll {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

.displayPolls-poll-open {
  background-color: var(--light-dark-color);
}

.displayPolls-poll-closed {
  background-color: var(--error-color);
}

/* Exclude last item */
.displayPolls-poll:not(:last-child) {
  margin-bottom: 1rem;
}

.displayPolls-topic {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.displayPolls-status {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

.displayPolls-options {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-dark-color);
  list-style: none;
}

/* Exclude last item */
.displayPolls-options li:not(:last-child) {
  margin-bottom: 1rem;
}

.displayPolls-view {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theme-color);
  color: white;
  text-decoration: none;
}

.displayPolls-view:hover {
  text-decoration: underline;
}

#displayPolls-empty {
  padding: 1rem;
  text-align: center;
}