#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--navbar-height);
  background-color: var(--theme-color);
  color: white;
}

#navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
}

/*----- Links -----*/
#navbar-links {
  display: none;
  height: 100%;
  list-style: none;
}

#navbar-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

#navbar-links button {
  height: 100%;
  padding: 1rem;
  border: none;
  background: none;
  color: white;
  font-size: var(--default-font);
}

#navbar-links a:hover,
#navbar-links button:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*----- /Links -----*/

/*----- Collapse toggle -----*/
#navbar-collapse {
  display: none;
}

#navbar-collapse-label {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

#navbar-collapse:checked ~ #navbar-collapsedLinks {
  display: flex;
}
/*----- /Collapse toggle -----*/

/*----- Collapsed Links -----*/
#navbar-collapsedLinks {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: var(--navbar-height);
  background-color: var(--light-dark-color);
}

#navbar-collapsedLinks a {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#navbar-collapsedLinks button {
  width: 100%;
  padding: 1rem;
  border: none;
  background: none;
  color: white;
  font-size: var(--default-font);
  font-weight: bold;
  text-align: start;
}
/*----- /Collapsed Links -----*/

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #navbar-links {
    display: flex;
  }

  #navbar-collapse-label {
    display: none;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #navbar-links {
    display: flex;
  }

  #navbar-collapse-label {
    display: none;
  }
}
/* ----- /Breakpoints ----- */