#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-header {
  margin-bottom: 1rem;
}

#login-form {
  width: 100%;
  margin-bottom: 2rem;
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #login-form {
    width: 70%;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #login-form {
    width: 50%;
  }
}
/* ----- /Breakpoints ----- */