#allUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#allUsers-header {
  margin-bottom: 1rem;
}

/*----- Sorting -----*/
#allUsers-sort {
  margin-bottom: 1rem;
}

#allUsers-sort button {
  padding: 0.5rem 0.7rem;
  border: none;
  background-color: var(--theme-color);
  color: white;
  font-size: var(--default-font);
}

/* First child */
#allUsers-sort button:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* Last child */
#allUsers-sort button:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#allUsers-sort button:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*----- /Sorting -----*/

/*----- List -----*/
#allUsers-list {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  list-style: none;
}

#allUsers-list li {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-dark-color);
  color: white;
}

/* Exclude last item */
#allUsers-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.allUsers-list-username {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.allUsers-list-username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.allUsers-list-badges {
  display: flex;
  margin-bottom: 0.3rem;
}

.allUsers-list-date {
  font-weight: 300;
  font-style: italic;
}
/*----- /List -----*/

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #allUsers-list {
    width: 80%;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #allUsers-list {
    width: 60%;
  }
}
/* ----- /Breakpoints ----- */